*{
    font-family: sans serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{
    background-color: rgba(230, 229, 227, 0.616);
    height: 20vh;
    display: flex;
    padding: 1rem;
    justify-content: center;
    gap: 1rem;
    background-image: url(./Assets/design1_image1.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

#logo{
    height: 100%;
}

header h1{
    font-size: 4rem;
    text-align: center;
    color: rgb(251, 255, 6);
}

nav{
    background-color: rgba(233, 232, 232, 0.932);
    width: 100%;
    min-height: 30vh;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    font-size: 150%;
    text-decoration: none;
    background-color: rgb(251, 255, 6);
    color:black;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 0.4rem;
    text-align: center;
    flex-grow: 1;
}

a:hover{
    background-color: rgb(241, 241, 239);
    color:black;
    transform: translate(1rem);
    transition-duration: o.4s;
}

.active{
    background-color: black;
    color:white;
    font-weight: bold;
}

.figure-{
    width: 270px;
    height: 270px;
    border: 2px solid black;
    border-radius: 0.4rem;
}

main{
    background-color: rgba(245, 245, 221, 0.733);
    min-height: 45vh;
}

section h3, aside{
    font-size: 130%;
    margin-top: 30px;
    margin-left: 200px;
    text-align: justify;
}

section p{
    font-size: 100%;
    margin-left: 230px;
    margin-right: 180px;
    text-align: justify;
}

section h2, main h2{
    background-color: black;
    color: white;
    font-size: 30px;
    text-align: center;
}

section h3{
    font-size: 25px;
    font-weight: bold;
    margin-top: 1rem;
}

section h4{
    font-size: 25px;
    font-weight: bold;
    margin-top: 1rem;
    margin-left: 8rem;
}

table{
    border: 2px solid black;
    font-size: 20px;
    border-collapse: separate;
    margin: 2rem 26rem 2rem 26rem;
}

caption h2{
    font-style: initial;
    font-weight: bold;
}

tbody{
    background-color: darkgray;
}

tfoot{
    font-style: oblique;
    font-weight: bold;
}

footer{
    background-color: rgba(131, 131, 129, 0.877);
    min-height: 5vh;
    font-style: oblique;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: center;
}
